/* Fix for weird white space */
/* JavaScript-produced element */
.eb.TD {
    display: none;
}

/* Spacing on bottom of email list */
.BltHke.oy8Mbf {
    margin-bottom: 40px;
}


/********** BUNDLING ***********/

.bundle-image {
    margin-left: 24px;
    margin-right: 24px;
}
.bundle-image img {
    width: 28px;
}
.bundle-wrapper.contains-unread .label-link,
.bundle-wrapper .bundle-senders span.strong {
    font-weight: 700;
}
.bundle-wrapper:not(.contains-unread) .bundle-image img,
.bundle-wrapper:not(.contains-unread) .bundle-image svg {
    opacity: 0.6;
}

/* Parent of .bundle-senders */
.label-link+.a4W.xY {
    flex-grow: 1;
    overflow: hidden;
}

.bundle-senders {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bundle-wrapper .label-link .bundle-count {
    font-weight: 400;
    margin-left: 5px;
    /*color: gray;*/
}

.bundle-wrapper {
    padding-right: 50px;
}

/* Colored bundle titles for Inbox categories */
.zA.yO[bundleLabel="Updates"] .label-link>span:not(.bundle-count) {
    color: rgb(255, 104, 57);
}
.zA.yO[bundleLabel="Promotions"] .label-link>span:not(.bundle-count) {
    color: rgb(0, 188, 212);
}
.zA.yO[bundleLabel="Forums"] .label-link>span:not(.bundle-count) {
    color: rgb(63, 81, 181);
}
.zA.yO[bundleLabel="Social"] .label-link>span:not(.bundle-count) {
    color: rgb(219, 68, 55);
}
.zA.yO[bundleLabel="Travel"] .label-link>span:not(.bundle-count),
.zA.yO[bundleLabel="Trips"] .label-link>span:not(.bundle-count) {
    color: rgb(156, 39, 176);
}
.zA.yO[bundleLabel="Finance"] .label-link>span:not(.bundle-count) {
    color: rgb(103, 159, 56);
}
.zA.yO[bundleLabel="Orders"] .label-link>span:not(.bundle-count),
.zA.yO[bundleLabel="Purchases"] .label-link>span:not(.bundle-count) {
    color: rgb(121, 85, 72);
}

.bundled-email {
    display: none !important;
}

/* Bundle row settings */
.zA>span.oZ-x3 {
    order: 0;
}

.hide-important-markers {
    display: none !important;
}

/* Hide Inbox label on emails on bundle pages */
body.email-bundling-enabled.bundle-page .nH.ar4.B .at[title=Inbox] {
    display: none !important;
}
